.unit-done-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.unit-done-dialog-content {
    position: relative;
    z-index: 1;
    max-width: 400px;
    min-height: 200px;
    margin: 50px auto;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
}

.unit-done-dialog-actions {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.unit-done-dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}

.unit-done-dialog-header {
    background: #3a3f44;
    color: #fff;
    padding: 14px 20px;
    font-weight: bold;
    text-align: center;
}

.unit-done-dialog-actions .btn-next-unit {
    background-color: #F2C301;
    box-shadow: 1px 2px #E2A902;
    color: #333;
}

.unit-done-dialog-actions .btn-close {
    background-color: #e2e5e8;
    box-shadow: 1px 2px #b9bcc0;
    color: #333;
}