.btn {
    border: 0;
    display: inline-block;
    width: 200px;
    background-color: #EE0077;
    box-shadow: 1px 2px #c20463;
    padding: 0 15px;
    color: #fff;
    height: 50px;
    font-size: 22px;
}

